.colum-big{
  border : 3px solid red;
  height: 33vh;
  display: flex;
  flex-direction: row;
}

.colum-small{
  border: 3px solid blue;
  height: 25vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-block{
  border: 3px solid black;
  height: 100%;
  width: 25%;
}

.heading-block{
  border: 3px solid green;
  height: 100%;
  width: 75%;
}

.colum-1-heading-1{
  border: 3px solid red;
  height: 38%;
}

.colum-1-heading-2{
  border: 3px solid purple;
  height: 57%;
}